body{
	display: block;
	margin:0px 0px 0 0px;
	background: #E0D8DA;
}
.header{
	position: fixed;
	width: 100%;
	background: #5E575E;
	color:#FFF;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: 10%;
}
.header ul{
	display: inline;
	list-style-type: none;
}
.header a{
	color:#fff;
	 text-decoration:none;
}
.content{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3em;
}
.post{
	background: #fff;
	padding: 1em;
}
.cx_head{

}
.cx_jing{

}
.cx_content{
	
}