{% extends "component/layout.nunjucks" %}

{% block title %}
AllWell-AboutUs
{% endblock %}

{% block body %}
<div>
	<div class="atitle">About AllWell</div>
	<img src="img/about.jpg" align="left" style="margin-right:10px;margin-bottom:10px;">
	<p>Allwell was founded in 2005, located in Shenzhen of China. We mainly exports high quality plastic injection molds, plastic injection parts diecasting,rubber,stamping,CNC for all over the world. After more than 10 years of accumulated experience and continuous improvement of quality control, at the same time a reliable strategic partner and supplier of worldwide top companies.</p>
	<p>Allwell’s success depends on customers support, provide One-stop shop service with the win-win relationships.Since founded in 2005 at Shenzhen of China. Allwell is a stable expanding company, through the last 10 years of development, now has become a professional mould/tool maker for plastic and injection molding manufacturer in south of China. The company wide well recognized base on the good reputation gave by lots of the customers from Europe, America,Africa and Asia.</p>
	<p>Allwell strategy is to be an one-stop shop provider of /mould/tool high quality plastic injection molds and injection plastic products developing , designing ,manufacturing,as well as diecasting,rubber,stamping,CNC,we also help our customers about the EDM and OEM services.Such as Auto parts,Homeware,Toy parts, Electronic,Electrical parts, medical equipment, computer parts, communication parts , automation equipment and some other areas plastic parts etc. We are taking a proactive role prior to our customers’ fine products, support them from idea until the achievement of the best successful product which include Mechanical design, Mould design, Mould making, Injection molding. Here you can get the benefits of high quality and fast delivery along with competitive cost base on our solid experience and knowledge which expected in the European and North American plastic mould industry.</p>
	<p>Allwell control all the business under ERP system, from RFQ until after-sales service, our aim is that the customers feel our service and the quality of the products all are well. At the same time, the quality control is carried out seriously according to our certified qualification ISO9001, in view of the customer product industry requirement, the choice optimization's design and the manufacturing to satisfy each customer.</p>
	<p>All well mainly focus on overseas market the Tooling/Molding business.More than 85% of products will export to Europe and North America, providing high quality moulds and products for world famous customers like BMW, Mercedes, Apple,Toyota, Makita, Philips, Honda ,Audi etc. 
As Allwell purpose for our customers:The quality all are well, The appearance all are well, The price all are well.</p>
</div>
{% endblock %}