{% extends "component/layout.nunjucks" %}

{% block title %}AllWell-ContactUs{% endblock %}

{% block body %}
<div class="row">
	<div class="col-sm-3">
		<ul class="nav nav-sidebar">
			<li id='rfq' class="active"><a href="javascript:displayContact('rfq')" >RFQ</a></li>
			<li id='joinus'><a href="javascript:displayContact('joinus')">Join us</a></li>
			<li id='contact'><a href="javascript:displayContact('contact')">Contact us</a></li>
		</ul>
	</div>
	<div class="col-sm-9">
		<div class="row">
			<div class="content joinus">
				<p>With Allwell's business developping, now we need to recruit the following positions:</p>
<p>Name of Position:Mould engineer</p>
<p>Number: 3 </p>
<p>Working Address: Shenzhen Type of Job: Full time </p>
<p>Requirements:</p>
<p>Degree holder in Engineering or related disciplines with well English.</p>
<p>2-3 years project and injection moulds development experience in mould industrial</p>
<p>Strong interpersonal, negotiation and communications skills</p>
<p>Must be well organized, independent, able to meet deadlines and result oriented</p>
<p>Good command of written and spoken English and Putonghua</p>
<p>Knowledge of safety standard of mould</p>


<p>Name of Position: sales executive</p>
<p>Number:10Working Address: Shenzhen Type of Job: Full time Requirements: Buildup, maintain and update supplier''s database Reply customer''s email or inquiries in time Excellent skills of communication, both written and oral with EnglishWell-organized, higly motivated independent and self-confident person with good networking skills and real initiative to make things happen Tyustworthy, loyal and reliable individual with solid references Good computer skills Experience in Tool & Die international business is an advantage.</p>

<p>Name of Position:Production workers</p>
<p>Number:25Working Address: Shenzhen Type of Job: Full time Requirements: Mold management and control, the use of mould, maintenance, maintenance, production is authorized, filing and supervise the implementation;</p>
<p>The development, improve the injection molding process documents and specific operational procedures;</p>
<p>Timely and accurate grasp the mold usage and production quality issues, to assist in the production of mold production department to solve the problem, to ensure smooth production.</p>
<p>Develop budgets for the repair scheme of die and mould and the new system, and ensure timely completion of the productions;</p>
<p>Analysis of mould structure and injection molding process improvement, improve improve process and quality of plastic parts.Salary: Negotiated </p>

			</div>
			<div class="content rfq">
				<p>1.What kind of mold do you make? Plastic injection molding mold, die casting mould or else?</p>
				<p>high quality plastic injection molds and injection plastic products developing , designing ,manufacturing,as well as diecasting,rubber,stamping,CNC,we also help our customers about the EDM and OEM services for their different sizes customized plastic products </p>

<p>2.How many molds do you make annually?</p>
<p>Averagely, we make about 300-400 sets molds per year. </p>


<p>3.Do you have plastic injection machines for mold trial?</p>
 <p>Yes, we have. The 12 injection machines ranging from 68 tons to 400 tons. </p>


<p>4.Do you have Manufacturer ?</p>
 <p>The factory is in Baoan of Shenzhen, welcome to visit our Manufacturer.</p>

<p>5.How long is the lead-time for a mold?</p>
 <p>It is hard to say. It all depends on the mold's size,complexity and design. Normally, the lead-time is about 20--50days.</p>


<p>6.Do you have any problem communicating in English?</p>
 <p>No problem at all. Project manager and International sales could communicate well in English.</p>

<p>7.What is your terms of payment ?</p>
 <p>For new mold, 40% deposit, 30% on first short, 30% before shipment. For modifying mold, 100% one week upon the approval of the updated samples. For prototype mold, pay 50% when place P.O, and another 50% before mold delivery. </p>

<p>8.If there is problem on the mold after the shipment,what did you do?</p>
 <p>This kind of matter has never happened before. But if it happens and it is our fault, we pay all the cost without any bargain.</p>

			</div>
			<div class="content contact">
				<p>General manager:</p>
				<p>Marketing manager:</p>
				<p>Sales manager:</p>

				<p>The engineer:</p>

				<p>Customer service:</p>

				<p>Financial manager</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
function displayContact(p){
		$('.content').hide();
		$('.active').removeClass('active');
		$('#'+p).addClass('active');
		$('.'+p).show();
	}
	displayContact('rfq');
{% endblock %}
