{% extends "component/layout.nunjucks" %}
{% block title %}AllWell{% endblock %}
{% block body %}
<div class="row">
	<div class="col-sm-3">
	<div class="ablock">
		<div class="atitle">Plastic Molds</div>
		<a href="/products.html"><img src="img/Plastic Mold.jpg" class="littleimg"></a>
		</br>
		<a href="/products.html">Plastic Molds</a>
	</div>	
	</div>
	<div class="col-sm-3">
	<div class="ablock">
		<div class="atitle">Plastic Mold parts</div>
		<a href="/products.html"><img src="img/Plastic Molding Parts.jpg" class="littleimg"></a>
		</br>
		<a href="/products.html">Plastic Mold parts</a>
	</div>	
	</div>

	<div class="col-sm-3">
	<div class="ablock">
		<div class="atitle">CNC Parts</div>
		<a href="/products.html"><img src="img/CNC Parts.jpg" class="littleimg"></a>
		</br>
		<a href="/products.html">CNC Parts</a>
	</div>
	</div>
	
	
	<div class="col-sm-3">
	<div class="ablock">
		<div class="atitle">Diecasting Parts</div>
		<a href="/products.html"><img src="img/pic3.jpg" class="littleimg"></a>
		</br>
		<a href="/products.html">Diecasting Parts</a>
	</div>	
	</div>
</div>
<div class="row">
	<div class="col-sm-9">
		<div class="ablock">
			<div class="atitle">About us</div>		
			<p style="text-align:left;word-wrap: normal;"><img src="img/about.jpg" align="right" style="margin: 0 0 10px 10px;">	
			Allwell located at Shenzhen ,as a Manufacturer ,we are specialized in high quality plastic injection molds and injection plastic products developing , designing ,manufacturing,as well as diecasting,rubber,stamping,CNC,we also help our customers about the EDM and OEM services for their different sizes customized plastic products with our own professional engineers.Our purpose:The quality all are well, The appearance all are well, The price all are well.</p>
		</div>
	</div>
	<div class="col-sm-3">
	<div class="ablock">
		<div class="atitle">Stamping Parts</div>
		<a href="/products.html"><img src="img/stamping.jpg" class="littleimg"></a>
		</br>
		<a href="/products.html">Stamping Parts</a>
	</div>	
	</div>
</div>
{% endblock %}
{% block script %}

{% endblock %}